* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #00275a;
  font-family: 'Bangers', cursive;
}

.accordion {
  margin: 10em auto;
  width: 70%;
}

.accordion__item  {
  list-style: none;
  width: 100%;
  margin-bottom: 10px;
  background-color: aliceblue;
  padding: 10px;
}


.accordion__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  color: #c20000;
  padding: 10px;

}

.accordion__item:hover {
  background-color: #4b4b4b;
}
.accordion__item:hover .accordion__label {
  color: aqua;
  cursor: pointer;
}

.accordion__input {
  display: none;
}

.label-icon {
  width: 24px;
  height: 24px;
  background: center url(assets/icons/icons8-multiply-64.png);
  background-size: contain;
  transform: rotate(45deg);
  transition: all .5s;
}

.content {
  padding: 0 10px;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: all .5s;
}

.content-text {
  font-size: 18px;
}
.content-image  {
  width: 100%;
}

.accordion__input:checked ~ .content {
  max-height: 400px;
}

.accordion__input:checked + .accordion__label > .label-icon {
  transform: rotate(0deg);
}