* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #00275a;
  font-family: 'Bangers', cursive;
}

.accordion {
  margin: 10em auto;
  width: 70%;
}

.accordion__title {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  text-align: center;
  margin-bottom: 1em;
  color: #fff;
}
.accordion__item  {
  list-style: none;
  width: 100%;
  background-color: aliceblue;
  padding: 1em;
  margin-bottom: 1em;
}


.accordion__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
  color: #000;
  padding: 1em;
  transition: all .5s;
}

.accordion__item:hover {
  background-color: #e4e4e4;
}
.accordion__item:hover .accordion__label {
  color: #00275a;
  cursor: pointer;
}
.accordion__item:hover .content {
  color: #00275a;
}

.accordion__input {
  display: none;
}

.label-icon {
  width: 1.5rem;
  height: 1.5rem;
  background: center url(assets/icons/icons8-multiply-64.png);
  background-size: contain;
  transform: rotate(45deg);
  transition: all .5s;
}

.content {
  line-height: 2rem;
  max-height: 0;
  overflow: hidden;
  transition: all .5s;
}

.content-text {
  font-size: 2rem;
  padding: 0 1em;
}
.content-image  {
  width: 100%;
}

.accordion__input:checked ~ .content {
  max-height: 50rem;
}

.accordion__input:checked + .accordion__label > .label-icon {
  transform: rotate(0deg);
}






@media (max-width: 1180px) {
  .accordion__title {
    font-size: 2rem;
    margin-bottom: 0.5em;
  }
  .accordion__label {
    font-size: 1.5rem;
  }
  .content-text {
    font-size: 1.5rem;
  }
}


@media (max-width: 568px) {
  .accordion__title {
    font-size: 1.5rem;
    margin-bottom: 0.5em;
  }
  .accordion__label {
    font-size: 1rem;
  }
  .content-text {
    font-size: 1rem;
  }
}